VITE_API_URL=http://localhost:3000
VITE_SITE_URL=http://localhost:5173

VITE_GOOGLE_CLIENT_ID=MyCLientId

VITE_TOKEN_STORAGE_KEY=MyKey
VITE_WORKSPACE_DOMAIN=escuelaenfermeria.com.uy

VITE_GOOGLE_ANALYTICS_ID=MyAnalyticsId