$school-green: #1FB57B;

$school-green-light: #DFF7EC;

$gray: #888;
        
$medium-light-gray: #777;
                
$medium-dark-gray: #666;
               
$medium-gray-alt: #555;
             
$medium-dark-gray-alt: #444;
                
$dark-medium-gray: #333;

$black: #000;

$white: #fff;
$light-medium-dark-gray: #ddd;
            
$white-smoke: #fcfcfc;
$light-green: #EBF6E0;
             
$light-gray: #e0e0e0;
        
$dark-gray: #4c4c4c;


$light-medium-gray: #e4e4e4;
$medium-gray: #707070;
         

$medium-light-gray-alt: #d6d6d6;
$light-gray-alt: #e6e6e6;
$forest-green: #5f9025;
                    
$light-forest-green: #7fbc3d;
$light-green-alt: #8dbf52;

$light-pink: #ffe9e9;
$red: #de5959;
    
$dark-red: #ed1c1c;
$light-red-alt: #f59292;
$light-red: #fbc4c4;

$off-white: #FBFADD;
$olive: #8f872e;
$light-medium-olive: #c6bd67;
$light-olive: #ded58a;
$light-blue: #E9F7FE;
$blue: #5091b2;
$light-blue-alt: #b6d7e8;
$light-blue-alt-strong: #86b4cc;